.target{

  background-color: red;
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 100px;
}
button{

  background-color: beige;
  color: brown;
  height: 30%;
  width:10%;
  font-size: large;
  font-weight: bolder;

}